<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center">
      <h2 class="display-4">スキル名詳細ページ</h2>
    </div>
  </div>

  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          スキル詳細
        </div>
        <div class="card-body">
          <h5 class="card-title">スキル名:</h5>
          <p class="card-text"><%= @skill.name %></p>
          <h5 class="card-title">所属ユーザー:</h5>
          <ul class="list-group list-group-flush">
            <% @skill.users.each do |user| %>
              <li class="list-group-item"><%= user.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="card-footer text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <%= link_to "Edit", edit_admin_skill_path(@skill), class: "btn btn-warning btn-sm" %>
            </li>
            <li class="list-inline-item">
              <%= link_to "Destroy", admin_skill_path(@skill), data: {
                    turbo_method: :delete,
                    turbo_confirm: "#{@skill.name}を削除しますか？"
                  }, class: "btn btn-danger btn-sm" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <%= link_to "スキル一覧に戻る", admin_skills_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>