<h1>スキル名詳細ページ</h1>
<div class="skilldetail">
  <label>スキル名:</label><%= @skill.name %>
  <% @skill.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %> 
</div>
<ul>
  <li><%= link_to "Edit", edit_admin_skill_path(@skill) %></li>
  <li><%= link_to "Destroy", admin_skill_path(@skill), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= link_to "スキル名一覧に戻る", admin_skills_path %>