<nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_users_path %>">従業員一覧</a></li>
    <li class="breadcrumb-item"><a href="<%= admin_departments_path %>">部署一覧</a></li>
    <li class="breadcrumb-item" aria-current="page">部署詳細</li>
  </ol>
</nav>
<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'departments', media: 'all', 'data-turbo-track': 'reload' %>
<% end %>
<div class="container mt-5">

  <div class="row mb-4 justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title">部署名</h5>
            <div class="col-md-12 list-group">
              <li class="list-group-item"><%= @department.name %></li>
            </div>
            <h5 class="card-title mt-5">所属ユーザー</h5>
            <div class="col-md-12 list-group">
              <% if @department.users.present? %>
                <% @department.users.each do |user| %>
                  <li class="list-group-item"><%= user.name %></li>
                <% end %>
              <% else %>
                <li class="list-group-item">ユーザーなし</li>
              <% end %>
            </div>
          </div>
        <div class="card-footer text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <%= link_to "編集", edit_admin_department_path(@department), class: "btn btn-primary btn" %>
            </li>
            <li class="list-inline-item">
              <%= link_to "削除", admin_department_path(@department), data: {
                    turbo_method: :delete,
                    turbo_confirm: "#{@department.name}を削除しますか？"
                  }, class: "btn btn-danger btn" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center mt-3">
      <%= link_to "部署一覧に戻る", admin_departments_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>