<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>が原因でこの記事を保存できませんでした</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: user do |form| %>
    <div class="user_form">
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name , placeholder: "例: 山田 太郎"%><br>
    
    <%= form.label :rubi, "フリガナ" %><br>
    <%= form.text_field :rubi, placeholder: "例: ヤマダ タロウ"%><br>
    
    <%= form.label :seibetu, "性別" %><br>
    <%= form.radio_button :seibetu, "male" %> 男
    <%= form.radio_button :seibetu, "female" %> 女<br>
    
    <%= form.label :denwa, "電話番号" %><br>
    <%= form.telephone_field :denwa, placeholder: "例:  03-1234-5678" %><br>
    
    <%= form.label :keitai, "携帯電話番号" %><br>
    <%= form.telephone_field :keitai , placeholder: "例: 090-0000-0000"%><br>
    
    <%= form.label :yuubinbango, "郵便番号" %><br>
    <%= form.text_field :yuubinbango, placeholder: "例: 123-4567"%><br>

    <%= form.label :mairu, "メールアドレス" %><br>
    <%= form.text_field :mairu, placeholder: "例: example@example.com"%><br>
    
    <%= form.label :jusho1, "住所1" %><br>
    <%= form.text_field :jusho1 %><br>
    
    <%= form.label :jusho2, "住所2" %><br>
    <%= form.text_field :jusho2 %><br>
    
    <%= form.label :jusho3, "住所3" %><br>
    <%= form.text_field :jusho3 %><br>
    
    <%= form.label :jusho4, "住所4" %><br>
    <%= form.text_field :jusho4 %><br>
    
    <%= form.label :jusho5, "住所5" %><br>
    <%= form.text_field :jusho5 %><br>
    
    <%= form.label :tanjobi, "誕生日" %><br>
    <%= form.date_field :tanjobi, type: 'date' %><br>
    
    </div>
  
    <div>
      <%= form.submit %>
    </div>
    <%= link_to "User一覧に戻る", users_path %>
  <% end %>