<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>が原因でこの記事を保存できませんでした</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: user do |form| %>
    <div class="user_form">
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name , placeholder: "例: 山田 太郎"%><br>
    
    <%= form.label :rubi, "フリガナ" %><br>
    <%= form.text_field :hiragana_nama, placeholder: "例: ヤマダ タロウ"%><br>
    
    <%= form.label :sex, "性別" %><br>
    <%= form.radio_button :sex, "男性" %> 男性
    <%= form.radio_button :sex, "女性" %> 女性
    <%= form.radio_button :sex, "その他" %> その他
    <%= form.radio_button :sex, "回答なし" %> 回答なし<br>
    
    <%= form.label :tel, "電話番号" %><br>
    <%= form.telephone_field :tel, placeholder: "例:  03-1234-5678" %><br>
    
    <%= form.label :mobile, "携帯電話番号" %><br>
    <%= form.telephone_field :mobile , placeholder: "例: 090-0000-0000"%><br>
    
    <%= form.label :postcode, "郵便番号" %><br>
    <%= form.text_field :postcode, placeholder: "例: 123-4567"%><br>

    <%= form.label :mail, "メールアドレス" %><br>
    <%= form.text_field :mail, placeholder: "例: example@example.com"%><br>
    
    <%= form.label :address1, "住所1" %><br>
    <%= form.select :address1, ["北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県", "東京都", "神奈川県", "千葉県", "埼玉県", "茨城県", "栃木県", "群馬県", "新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県", "三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県", "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県", "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"] %><br>
    
    <%= form.label :address2, "住所2"%><br>
    <%= form.text_field :address2, placeholder: "市町村" %><br>
    
    <%= form.label :address3, "住所3" %><br>
    <%= form.text_field :address3 %><br>
    
    <%= form.label :address4, "住所4" %><br>
    <%= form.text_field :address4 %><br>
    
    <%= form.label :address5, "住所5" %><br>
    <%= form.text_field :address5 %><br>
    
    <%= form.label :tanjobi, "誕生日" %><br>
    <%= form.date_field :birthday, type: 'date' %><br>
    
    </div>
  
    <div>
      <%= form.submit %>
    </div>
    <%= link_to "User一覧に戻る", users_path %>
  <% end %>