<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'users', media: 'all', 'data-turbo-track': 'reload' %>
<% end %>
<div class="container">
<div class="bg-light search p-4 mt-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-center">
          <%= form_with(url: users_path, method: :get, local: true, class: "row g-3 align-items-end") do |form| %>
            <div class="col-auto">
              <%= form.text_field :name, value: @name, placeholder: "氏名", class: "form-control" %>
            </div>
            <div class="col-auto">
              <%= form.select :address1, @users.address1s, { prompt: '都道府県', selected: @address1 }, { class: "form-select" } %>
            </div>
            <div class="col-auto">
              <%= form.select :order, [["誕生日：新しい順", 'birthday DESC'], ["誕生日：古い順", 'birthday ASC']], { selected: @order }, { class: "form-select" } %>
            </div>
            <div class="col-auto">
              <%= form.select :per_page, options_for_select([['ページ数', ''], [10, 10], [50, 50], [100, 100]], selected: @per_page), {}, { class: "form-select" } %>
            </div>
            <div class="col-auto">
              <%= form.submit '検索する', class: "btn btn-primar custom-submit-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <%= paginate @users, theme: 'bootstrap-5' %>
</div>

<div class="row mt-4 mb-4">
  <div class="col text-center">
    <h2 class="list-group-title text-center border border-secondary p-2 bg-secondary text-white">従業員一覧</h2>
    <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item text-center">
        <%= link_to user.name, user_path(user), class: "text-decoration-none" %>
      </li>
    <% end %>
  </ul>
  </div>
</div>

</div>