<%= form_with model: skill do |form| %>
    <div class="skill_form">
    <%= form.label :name, "スキル名" %><br>
    <%= form.text_field :name , placeholder: "例: Rails"%><br>
    <div>
      <%= form.submit "送信" %>
    </div>
    <%= link_to "部署一覧に戻る", skills_path %>
  <% end %>