<h1>部署名詳細ページ</h1>
<div class="departmentdetail">
  <label>部署名:</label><%= @department.name %><br>
  <% @department.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %> 
</div>
</div>
<ul>
  <li><%= link_to "Edit", edit_department_path(@department) %></li>
  <li><%= link_to "Destroy", department_path(@department), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= link_to "部署一覧に戻る", departments_path %>