<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbo-track': 'reload' %>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <% if @user.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
              <h2>不正な入力があります</h2>
          </div>
        <% end %>
        <div class="card-body">
          <%= form_with model: @user, url: [:admin, @user], local: true, class: "needs-validation" do |form| %>
            <div class="user_form">
              <div class="mb-3">
                <%= form.label :image, "画像", class: "form-label" %>
                <%= form.file_field :image, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :name, "名前", class: "form-label" %>
                <%= form.text_field :name, class: "form-control", placeholder: "例: 山田 太郎" %>
                <% @user.errors.full_messages_for(:name).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :hiragana_nama, "フリガナ", class: "form-label" %>
                <%= form.text_field :hiragana_nama, class: "form-control", placeholder: "例: ヤマダ タロウ" %>
                <% @user.errors.full_messages_for(:hiragana_nama).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :sex, "性別", class: "form-label" %>
                <%= form.select :sex, User.sexes, { include_blank: true }, { class: "form-select" } %>
                <% @user.errors.full_messages_for(:sex).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :department_id, "部署名", class: "form-label" %>
                <%= form.collection_select :department_id, @departments, :id, :name, { include_blank: true }, { class: "form-select" } %>
                <% @user.errors.full_messages_for(:department_id).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :skill, "スキル", class: "form-label" %>
                <div class="mb-3">
                  <%= form.collection_check_boxes :skill_ids, @skills, :id, :name, include_hidden: false do |skill| %>
                      <%= skill.check_box(class: "form-check-input") %>
                      <%= skill.label(class: "form-check-label") %>
                  <% end %>
                </div>
                <% @user.errors.full_messages_for(:skill_ids).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :tel, "電話番号", class: "form-label" %>
                <%= form.telephone_field :tel, class: "form-control", placeholder: "例:  03-1234-5678" %>
                <% @user.errors.full_messages_for(:tel).each do |message| %>
                <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :mobile, "携帯電話番号", class: "form-label" %>
                <%= form.telephone_field :mobile, class: "form-control", placeholder: "例: 090-0000-0000" %>
                <% @user.errors.full_messages_for(:mobile).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :postcode, "郵便番号", class: "form-label" %>
                <%= form.text_field :postcode, class: "form-control", placeholder: "例: 123-4567" %>
                <% @user.errors.full_messages_for(:postcode).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :mail, "メールアドレス", class: "form-label" %>
                <%= form.text_field :mail, class: "form-control", placeholder: "例: example@example.com" %>
                <% @user.errors.full_messages_for(:mail).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :password, "パスワード", class: "form-label" %>
                <%= form.password_field :password, class: "form-control" %>
                <% @user.errors.full_messages_for(:password).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :password_confirmation, "パスワード（確認）", class: "form-label" %>
                <%= form.password_field :password_confirmation, class: "form-control" %>
                <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :address1, "住所1", class: "form-label" %>
                <%= form.select :address1, User.address1s, { include_blank: true }, { class: "form-select" } %>
                <% @user.errors.full_messages_for(:address1).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :address2, "住所2", class: "form-label"%>
                <%= form.text_field :address2, class: "form-control", placeholder: "市町村" %>
                <% @user.errors.full_messages_for(:address2).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :address3, "住所3", class: "form-label" %>
                <%= form.text_field :address3, class: "form-control" %>
                <% @user.errors.full_messages_for(:address3).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :address4, "住所4", class: "form-label" %>
                <%= form.text_field :address4, class: "form-control" %>
                <% @user.errors.full_messages_for(:address4).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :address5, "住所5", class: "form-label" %>
                <%= form.text_field :address5, class: "form-control" %>
                <% @user.errors.full_messages_for(:address5).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3">
                <%= form.label :birthday, "誕生日", class: "form-label" %>
                <%= form.date_field :birthday, class: "form-control" %>
                <% @user.errors.full_messages_for(:birthday).each do |message| %>
                  <div class="text-danger"><%= message %></div>
                <% end %>
              </div>
              <div class="mb-3 text-center">
                <%= form.submit "送信", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>