<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="bg-secondary p-4">
      <div class="container">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <% if current_user %>
              <h1>こんにちは <%= current_user.name %> さん</h1>
            <% else %>
              <h1>従業員管理サイト</h1>
            <% end %>
          </div>
          <div class="flex-grow-2">
            <% if current_user %>
              <%= link_to "管理者画面からログアウト", admin_session_path, data: {
                            turbo_method: :delete,
                            turbo_confirm: "ログアウトしますか？"
                            }, class: "btn btn-danger ml-auto" %>
            <% else %>
              <%= link_to "管理者画面にログイン", new_admin_session_path, class: "btn btn-primary ml-auto" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>