<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
    <% if current_user %>
    <h1>こんにちは<%= current_user.name %>さん</h1>
    <%= link_to "管理者画面からログアウト", admin_login_path(current_user), data: {
                  turbo_method: :delete,
                  turbo_confirm: "ログアウトしますか？"
                  } %>
    <% else %>
      <h1>みなさんこんにちは</h1>
      <%= link_to "管理者画面にログイン", new_admin_login_path %>
    <% end %>
    </header>

    <%= yield %>
  </body>
</html>
